@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #002f53;
  --color-secondary: #1366d9;
  --color-button: #fbbd06;
  --color-success: #34a853;
  --color-error: #ea4235;
  --color-warning: #fbbd06;
}

body {
  font-family: "Roboto";
}

.menu-active {
  color: #1366d9;
}

.menu-active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  border-radius: 2px;
  background-color: #1366d9;
}
